.book-movies {
    padding: 15px;
    float: left;
    border-radius: 12px;
    .movie_seats_container {
      display: flex;
      width: 100%;
      .select_seats {
        width: 58%;
        height: 365px;
        overflow-y: auto;
      }
      .select_seats::-webkit-scrollbar {
        width: 20px;
      }
      .select_seats::-webkit-scrollbar-track {
        box-shadow: inset 0 0 5px grey;
      }
      .select_seats::-webkit-scrollbar-thumb {
        background: #ddd;
        border-radius: 10px;
      }
    }
    .close {
      float: right;
      border: none !important;
      font-weight: 700;
      background: none;
      position: absolute;
      right: 15px;
      &:focus {
        border: none !important;
      }
    }
    .date {
      .mat-mdc-form-field-has-icon-suffix .mat-mdc-text-field-wrapper {
        border-radius: 6px !important;
      }
    }
    .select_time {
      margin-right: 20px;
    }
    .show_timings {
      display: flex;
      flex-direction: column;
      width: 40%;
      border-right: 1px solid #ccc;
    }
    .time_and_movie {
      display: flex;
    }
    .select_seats {
      display: flex;
      flex-wrap: wrap;
    }
    .seats_availables {
      width: 55px;
      height: 55px;
    }
    .button-grp {
      button {
        width: 96%;
        background: #dc3545;
        border-radius: 0;
        border: none;
        margin: auto;
      }
    }
  }
  
  ::ng-deep {
    .mat-mdc-form-field-icon-suffix {
      background: url("../../../assets/images/datepicker.png") 24px;
      background-position: center;
      background-size: 19px;
      background-repeat: no-repeat;
    }
    mat-icon {
      display: none;
    }
    .mat-mdc-checkbox .mdc-checkbox__background {
      width: 45px;
      height: 45px;
      border: none;
      background: url("../../../assets/images/chair-available.png") 100% 100%
        no-repeat;
      background-position: center;
      background-size: cover;
    }
    .mat-mdc-checkbox-checked .mdc-checkbox__background {
      border-color: unset !important;
      background-color: unset !important;
      width: 45px;
      height: 45px;
      border: none;
      background: url("../../../assets/images/chair-selected.png") 100% 100%
        no-repeat;
      background-position: center;
      background-size: cover;
      svg {
        display: none;
      }
    }
    .mdc-checkbox__native-control {
      top: 15px;
      left: 15px;
    }
    .mat-mdc-icon-button.mat-mdc-button-base {
      width: 20px;
      height: 20px;
      padding: 0px;
    }
    .mdc-text-field--no-label:not(.mdc-text-field--outlined):not(
        .mdc-text-field--textarea
      )
      .mat-mdc-form-field-infix {
      padding-top: 4px;
      padding-bottom: 4px;
      min-height: 35px !important;
    }
    .mdc-text-field--filled:not(.mdc-text-field--disabled) {
      background-color: #fff;
      border: 1px solid #dddddd;
    }
    .mat-mdc-form-field-subscript-wrapper {
      display: none;
    }
    .mat-mdc-checkbox label {
      cursor: pointer;
      position: absolute;
      left: 55%;
      top: 50%;
      z-index: 9999;
      font-weight: 800;
    }
    .seats_availables:last-child label {
      left: 42%;
    }
    .hide_radio {
      display: none;
    }
  }
  